
body, h1, h2, a, div{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Monotype Corsiva', cursive;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: inherit;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    margin-top: 0.15rem;
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid
    black;
    height: 3rem;
    justify-content: space-between;
}

.headerNav {
    display: flex;
    align-self: center;
    width: auto;
    justify-content: space-around;
    width: 18em;
}

.headerNav a {
    font-size: 17px;
}

.headerLogo {
    display: flex;
    align-items: center;
    font-size: 24px;

}

.headerLogo img{
    width: 2rem;
}

.headerLogo a{
    font-size: 30px;
}

.content {
    display: flex;
    background-image: url(img/mushroomForest.jpg);
    flex-grow: 1;
    justify-content: center;
}

.rectangle {
    background-color: blue;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
    text-align: center;
}
