@import
    url("https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans");

body, h1, h2, a, div{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Tangerine', serif;
}

body {
    height: 100vh;
    font-weight: 700;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

header {
    font-size: 12px;
    display: flex;
    margin-top: 0.15rem;
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid
    black;
    height: 3em;
    justify-content: space-between;
}

.headerNav {
    align-self: center;

}

h1 {
    font-style: italic;
}
.logo {
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.logo img{
    
}

.content {
    display: flex;
    background-image: url(img/mushroomForest.jpg);
    flex-grow: 1;
    justify-content: center;
}

.rectangle {
    background-color: blue;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    flex-basis: 1;
}

@media screen and (max-width: 768px) {
    header {

    }
}