*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Monotype Corsiva', cursive;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-white-line {
    padding-top: 0.2rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0.2rem;
    background-color: white;
    z-index: 1;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
}


.header-left {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.header-left img {
    width: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}


.headerNav a {
    font-size: 2rem;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }

    .header-left {
        border-top: 0.2rem solid black;
        border-bottom: 0.2rem solid black;
    }

    .header-left img {
        width: 70px;
    }

    .header-left h1{
        display: none;
    }

    .headerNav{
        height: 5rem;
        justify-content: space-between;
    }
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(img/mushroomForest.jpg);
    z-index: -1;
    opacity: 0.7;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 94dvh;
}

.home-rectangle {
    min-width: 70%;
    min-height: 70dvh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 1rem;
}

.home-rectangle img {
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
}
.gydomieji-article{
    display: flex;
    flex-shrink: 1;
}
.gydomieji-article img{
    width: 300px;
}
